@use './fonts';
@use './variables';
@use './button';
@use './layout';

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}
  
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: var(--rounding);

    &:hover {
        background: var(--scrollbar-thumb-hover);
    }
}

.app {
    color: var(--text-primary);
    background: var(--background-secondary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
