:root {
    .light-theme {
        --text-primary: #333;
        --text-secondary: #888;

        --background-secondary: #F4F5F8;
        --background-primary: #fff;
        --background-news: #fff;

        --scrollbar-thumb: #a6a6a6;
        --scrollbar-thumb-hover: #777;
        --scrollbar-track: #f1f1f1;
        transition: all 0.3s ease;
    }

    .dark-theme {
        --text-primary: #fff;
        --text-secondary: #ddd;

        --background-secondary: #1E1F22;
        --background-primary: #202123;
        --background-news: #27272A;

        --scrollbar-thumb: #797980;
        --scrollbar-thumb-hover: #aaaaaa;
        --scrollbar-track: #303035;
        transition: all 0.3s ease;
    }

    --text-white: #fff;
    --color-primary-600: #015382;
    --color-primary-400: #0B5D8C;
    --color-primary-200: #1D6F9E;

    --divider-color: rgba(0,0,0,0.2);

    --rounding: 4px;
}