.news-modal {
    position: relative;
    max-width: 100%;
    color: var(--text-primary);
    background: var(--background-news);
    padding: 24px;

    &--dark {
        color: #fff;
        background: #27272A;
    }

    & &__header {
        display: flex;
        justify-content: space-between;
        margin: 8px 0;
    }

    & &__title {
        font-size: 20px;
        max-width: 90%;
    }

    & &__icon {
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }

    & &__details {
        font-size: 14px;
        color: var(--text-secondary);
    }

    & &__description {
        font-size: 14px;
        margin: 8px 0;
    }

    & &__url {
        overflow-wrap: break-word;
        font-size: 14px;
        text-decoration: none;
        font-weight: 500;
        color: var(--text-secondary);

        &:hover {
            text-decoration: underline;
        }
    }
}