.navbar {
    width: 100%;
    height: 72px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--background-primary);
    border-bottom: 1px solid var(--divider-color);

    & &__logo-container {
        display: flex;
        align-items: center;
        padding: 8px;
    }

    & &__logo {
        font-family: 'Righteous', cursive;
        text-decoration: none;
        font-size: 1.2em;
        color: var(--text-primary);
    }

    & &__hamburger {
        margin: 16px;
        height: 24px;
    }

    & &__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 8px 16px;
        list-style: none;
    }
}

.menu-item {
    margin: 0 8px;

    & &__icon {
        cursor: pointer;

        &--text {
            padding: 8px 0;
            margin-bottom: 4px;
            font-size: 16px;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}