.sidebar {
    position: fixed;
    left: -280px;
    transition: all 0.3s;
    height: calc(100vh - 146px);
    width: 256px;
    background: var(--background-primary);
    z-index: 1;

    & &__content {
        max-height: 100%;
        overflow: auto;
    }
}

.country-item {
    max-width: 90%;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 8px;

    & &__img {
        max-width: 24px;
        margin: 8px;
    }

    & &__name {
        color: var(--text-primary);
    }

    &:hover &__name {
        font-weight: 600;
    }

    &:hover &__img {
        transform: scale(1.1);
    }
}