.content {
    width: 100%;
    max-height: calc(100vh - 172px);
    overflow: auto;
    transition: all 0.3s;
}

.news-container {
    width: 98%;
    margin: auto;
    
    &--tile {
        display: flex;
        flex-wrap: wrap;
    }

    & &__info {
        width: 200px;
        margin: 10% auto;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: var(--text-primary);
    }
}