.content {
    width: 100%;
    max-height: calc(100vh - 172px);
    overflow: auto;
}

.news-container {
    width: 98%;
    margin: auto;
    
    &--tile {
        display: flex;
        flex-wrap: wrap;
    }
}